
.box {
	padding: 0.4rem;
	width: -moz-fit-content;
	background-color: #291020;
	border: 2px solid #5b386b;
	border-radius: 2px;
	display: inline-block;
}

.box.big {
	height:8rem;
	width:9rem;
}

.box.bigger {
	height:12rem;
	width:13rem;
}

.checkboxbutton {
	display: inline-block;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.checkboxbutton label span {
	text-align:center;
	padding: 10px 30px 5px 30px;
	display: inline-block;
}

.checkboxbutton label input {
	display: none;
}

BUTTON, .checkboxbutton {
	background: linear-gradient(to bottom,#490095,#030099);
	border: 2px solid #853bcf;
	text-shadow: 0 0 6px rgba(0,0,0,.75);
	text-align: center;
}

BUTTON {
	padding: 10px 30px 10px 30px;
}

BUTTON:hover, .checkboxbutton:hover {
	background: linear-gradient(to bottom,#5e00c5,#0500cc);
}

BUTTON:active, .checkboxbutton:active {
	background: #030099;
}

BUTTON.submit {
	background: linear-gradient(to bottom,#fa0,#f50);
	border: 2px solid #e5ba80;
	text-transform: uppercase;
	font-weight: 900;
}

BUTTON.submit:hover {
	background: linear-gradient(to bottom,#f8b42f,#ff7932);
}

BUTTON.submit:active {
	background: #ff7932;
}

