
.box {
	padding: 0.4rem;
	width: -moz-fit-content;
	background-color: #291020;
	border: 2px solid #5b386b;
	border-radius: 2px;
	display: inline-block;
}

.box.big {
	height:8rem;
	width:9rem;
}

.box.bigger {
	height:12rem;
	width:13rem;
}

.team {
	width: 100%;
}

.team.box {
	padding: 0;
}

.team.box.right {
	text-align: right;
}

.team.box.left {
	text-align: left;
}

.team .player {
	width: 100%;
	font-size: 2em;
}

.team .player {
	text-align: inherit;
	transform: inherit;
}

.player_image {
	width: 1.5em;
	display: inline-block;
}

.background {
	padding: 25px 25px 25px 150px;
	background-size: 450px !important;
	background-repeat: no-repeat !important;;
	background-position-x: -50% !important;
}

.left .background {
	-o-transform: scaleX(-1) !important;;
	-moz-transform: scaleX(-1) !important;;
	-webkit-transform: scaleX(-1) !important;;
	transform: scaleX(-1) !important;;
}

.team_image {
	width: 30px;
	height: 30px;
}