@import "components.css";
@import "nav.css";

html {
	font-size: 62.5%;

}

html,body {
	margin: 0;
	height: 100%;
}

body {
	font-family: 'Exo', sans-serif;
	font-size: 1.6rem;
}

body, .container-fluid::before {
	background: url(../img/background.jpg) 0 / cover fixed;
}

main {
	color: #fafafa;
	font-size: 1.6rem;
}

.row {
	margin: 0;
}


.team {
	width: 100%;
}

.team.box {
	padding: 0;
}

.team.box.right {
	text-align: right;
}

.team.box.left {
	text-align: left;
}

.team .player {
	width: 100%;
	font-size: 2em;
}

.team .player {
	text-align: inherit;
	transform: inherit;
}

.player_image {
	width: 1.5em;
	display: inline-block;
}

.background {
	padding: 25px 25px 25px 150px;
	background-size: 450px !important;
	background-repeat: no-repeat !important;;
	background-position-x: -50% !important;
}

.left .background {
	-o-transform: scaleX(-1) !important;;
	-moz-transform: scaleX(-1) !important;;
	-webkit-transform: scaleX(-1) !important;;
	transform: scaleX(-1) !important;;
}

.team_image {
	width: 30px;
	height: 30px;
}